* {
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(https://cdn.myportfolio.com/5f720a17-c1dd-4390-9ba5-fe4a2ecd4a1d/6f76fae1-f9b2-4203-a8c9-27080bb079e1_rw_1920.jpg?h=1850c46a7d89115649666ec8980e29cb);
    background-repeat: no-repeat;
    background-size: cover;

}



 
    

.navigation {
background-color: black;
padding: 0.5rem;

}


.container{
    display: flex;
    justify-content: flex-end;

}

.childli {
  margin: 0rem 2rem;
  list-style:none;
  
}

.hero {
    height: 100vh;
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
}